@media (min-width: 1500px) {
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title {
      margin: 0px auto !important;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title h3 {
      margin: 0px;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link .button-purchase {
      margin-left: 15%;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    nav.zo2-menu .navbar-nav > li > a {
      padding: 10px 13px;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title h3 {
      margin: 0px;
      margin-top: -5%;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .windy-paragraph-slide p {
      margin: 0px;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link .button-purchase {
      margin-left: 30%;
    }
    .social a {
      height: 30px;
      margin: 0 2px;
      width: 30px;
    }
    .social a i {
      height: 30px;
      line-height: 30px;
      width: 30px;
    }
    #top-search form {
      padding: 0 10px;
    }
    .zo2-menu >.container {
      padding: 0 !important;
    }
    .portfolio-header-center-left h2:after {
      width: 100% !important;
    }
    #zo2-about-us-wrap .aboutus .customaboutus #thumb-aboutus img {
      height: 508px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title h3 {
      margin: 0px;
      margin-top: -5%;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .windy-paragraph-slide {
      margin-top: -3%;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .windy-paragraph-slide p {
      margin: 0px;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link .button-purchase {
      margin-left: 35%;
    }
    .zo2-menu {
      margin-left: 30px !important;
    }
    .zo2-menu > .container {
      padding: 0 !important;
    }
    nav.zo2-menu .navbar-nav > li > a {
      font-size: 13px;
      padding: 0 10px;
    }
    #top-search form {
      padding: 0 15px;
    }
    .social a {
      height: 30px;
      margin: 0 2px;
      width: 30px;
    }
    .social a i {
      height: 30px;
      line-height: 30px;
      width: 30px;
    }
    .carousel-caption {
      top: 0;
    }
    .carousel-caption h3 {
      font-size: 30px;
    }
    .carousel-caption p {
      font-size: 13px;
    }
    #news .mod-news img {
      float: none;
    }
    #thumb-aboutus img.about-thumb {
      display: none;
    }
    .portfolio-header-center-left h2:after {
      width: 10% !important;
    }
    .owl-controls .owl-buttons div {
      bottom: 250px;
    }
    #zo2-position-0 .zt-button.type-stroke-to-fill {
      padding: 10px 18px;
      top: 0px;
    }
    div[class*="vm-col-"] {
      width: 50%;
    }
    #zo2-top-social {
      padding: 0px !important;
    }
    #zo2-canvas-menu,
    .zt-button.type-stroke-to-fill {
      margin-top: -5px;
    }
    .zt-portfolio-item .zt-portfolio-thumb .wrap-more-info {
      padding-top: 20%;
    }
  }
  @media (max-width: 992px) {
    #zo2-slide .slide-title h3 {
      font-size: 35px !important;
    }
    #zo2-slide .windy-paragraph-slide p {
      padding: 20px 0px !important;
    }
    .search-form {
      display: none;
      position: relative;
      overflow: hidden;
    }
    .search-form .search-close {
      display: none;
      position: absolute;
      right: 40px;
      z-index: 99;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
    }
    .mobie-search-active {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background: #fff;
      height: 50px;
      z-index: 999;
    }
    .mobie-search-active .search-form {
      padding: 5px 0px;
    }
    .mobie-search-active .search-form .search-close {
      display: block;
    }
    .mobie-search-active .search-form form {
      width: 100%;
    }
    .mobie-search-active .search-form form input[type="search"] {
      width: 95% !important;
    }
    .mobie-search-active .icon-search {
      display: none !important;
    }
    #zo2-position-1 .mobie-search-active form:before {
      content: inherit;
      display: none;
    }
    #zo2-header-wrap {
      padding: 10px 0;
      text-align: center;
    }
    #zo2-quote-custom-wrap .tip p {
      margin-top: 0;
    }
  }
  @media (min-width: 768px) {
    i#close {
      display: none;
    }
    .sbHolder {
      width: 95px !important;
    }
    .top-contact i {
      display: none;
    }
    .zo2-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div {
      margin-top: 0px;
    }
    .zo2-megamenu.animate .mega.open > .mega-dropdown-menu,
    .zo2-megamenu.animate .mega.hovering.open > .mega-dropdown-menu {
      box-shadow: 0 7px 10px rgba(0,0,0,0.1);
    }
    .portfolio-wrap .portfolio-header-small-device {
      display: none;
    }
    #zo2-top-wrap {
      display: block !important;
      position: relative !important;
    }
  }
  @media (max-width: 767px) {
    .search-form  form.form-inline {
      position: relative;
    }
    .search-form  form.form-inline i#close {
      position: absolute;
      right: 30px;
      z-index: 999999;
      color: #7d7d7d;
      top: 25px;
      cursor: pointer;
    }
    .search-form  form.form-inline input#mod-search-searchword {
      height: 64px !important;
      width: calc(100% - 70px);
      width: -moz-calc(100% - 70px);
      width: -webkit-calc(100% - 70px);
      width: -o-calc(100% - 70px);
      padding: 0 15px 0 45px;
    }
    #zo2-header-wrap {
      padding: 15px 0;
    }
    #zo2-top-wrap {
      height: 64px;
      border: none;
    }
    #zo2-top-wrap {
      display: none;
    }
    footer,
    #zo2-end-footer-wrap #zo2-footer-menu ul {
      padding: 10px 0;
    }
    #zo2-footer-wrap {
      padding: 20px 0;
    }
    #zo2-position-22,
    #zo2-position-23,
    #zo2-position-24 {
      position: relative;
    }
    #zo2-position-22 h3.moduletitle,
    #zo2-position-23 h3.moduletitle,
    #zo2-position-24 h3.moduletitle {
      background-image: none;
      margin: 0 0 20px 0;
      padding: 0;
    }
    #zo2-position-22 h3.moduletitle:hover,
    #zo2-position-23 h3.moduletitle:hover,
    #zo2-position-24 h3.moduletitle:hover {
      color: #88cb01;
    }
    #zo2-position-22:after,
    #zo2-position-23:after,
    #zo2-position-24:after {
      position: absolute;
      right: 20px;
      top: 20px;
      content: "+";
      font-weight: bold;
      font-size: 20px;
      display: block;
      cursor: pointer;
    }
    #zo2-footer-copyright footer section {
      float: none;
      text-align: center;
    }
    #zo2-end-footer-wrap #zo2-footer-menu ul li:first-child a {
      text-align: center;
    }
    #zo2-end-footer-wrap #zo2-footer-menu a {
      padding: 0px 9px;
    }
    #zo2-footer-menu .menu {
      text-align: center;
    }
    #zo2-footer-menu .menu li {
      width: 32% !important;
      margin-top: 0px !important;
    }
    #zo2-top-search {
      text-align: right;
    }
    #zo2-top-search form input[type="search"] {
      color: #fff;
    }
    .mobie-search-active .search-form {
      padding: 0px;
    }
    .search-form {
      display: block !important;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title {
      margin: 0px auto !important;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title h3 {
      font-size: 20px !important;
      margin: 0px;
      margin-left: -20%;
      margin-top: -7%;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .windy-paragraph-slide {
      margin-top: -5%;
      margin-left: -10%;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .windy-paragraph-slide p {
      margin: 0px;
      font-size: 13px !important;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link {
      margin-left: -50%;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link .slide-learn-more {
      padding: 5px 10px !important;
      font-size: 12px !important;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link .button-purchase {
      margin-left: 40%;
      font-size: 12px !important;
      padding: 3px 10px !important;
    }
    .zt-count-inner {
      text-align: center !important;
    }
    .zt-count-inner h3.count-subject {
      text-align: center !important;
    }
    #zo2-top-wrap {
      text-align: center;
    }
    #zo2-top-wrap .mod-languages,
    #zo2-top-wrap .search .form-inline {
      border: none;
    }
    #zo2-top-wrap .search {
      float: none;
    }
    header#standard-logo {
      padding-top: 0px;
    }
    .button-canvas {
      padding: 0;
    }
    .zo2-error #errorboxheader {
      font-size: 35px;
    }
    .zo2-error .img {
      width: 100%;
      text-align: center;
    }
    .zo2-error #outline {
      width: 100%;
    }
    .mobile-menu {
      float: left;
    }
    nav .zo2-menu {
      margin: 0;
    }
    nav .zo2-menu .navbar-toggle {
      border: none;
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      margin: 11px 0 0 0;
    }
    nav .zo2-menu .navbar-toggle .icon-bar {
      background-color: #525252;
      display: block;
      height: 4px;
      margin: 0 0 3px;
      overflow: hidden;
      transition: all 0.3s ease 0s;
      width: 30px;
    }
    nav .zo2-menu .navbar-toggle:hover {
      background: none;
    }
    nav .zo2-menu .navbar-toggle:hover .icon-bar {
      background-color: #7FBE54;
    }
    nav .zo2-menu .navbar-nav > li {
      height: 35px;
      line-height: 35px;
      border-bottom: 1px solid #eaeaea;
    }
    .navbar-nav {
      margin: 0;
    }
    .navbar-header {
      float: left;
    }
    #top-menu {
      text-align: center;
    }
    #zo2-header-top {
      padding-bottom: 20px;
    }
    #zo2-top-menu,
    #zo2-search {
      text-align: center;
    }
    #zo2-top-menu .mod-languages li {
      display: inline-block;
      float: none;
    }
    #zo2-search form {
      display: inline-block;
      float: none;
      border: none;
    }
    #zo2-feature {
      text-align: center;
    }
    #zo2-feature a.btn {
      display: inline-block;
    }
    .zo2-megamenu .mega-inner {
      padding: 10px 20px;
    }
    .zo2-megamenu .row-fluid,
    .zo2-megamenu .mega-dropdown-menu,
    .zo2-megamenu .row-fluid [class*="span"] {
      width: 100% !important;
      min-width: 100% !important;
      left: 0 !important;
      margin-left: 0 !important;
      transform: none !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
    }
    .zo2-megamenu .row-fluid + .row-fluid {
      padding-top: 10px;
      border-top: 1px solid #999;
    }
    .zo2-megamenu .hidden-collapse,
    .zo2-megamenu .always-show  .caret,
    .zo2-megamenu .sub-hidden-collapse > .nav-child,
    .zo2-megamenu .sub-hidden-collapse .caret,
    .zo2-megamenu .sub-hidden-collapse > a:after,
    .zo2-megamenu .always-show .dropdown-submenu > a:after {
      display: none !important;
    }
    .zo2-megamenu .mega-caption {
      display: none !important;
    }
    .zo2-megamenu .span12.mega-col-nav .mega-inner {
      padding: 0;
    }
    .zo2-megamenu .zo2-module {
      margin-bottom: 0;
    }
    .zo2-megamenu .mega-nav > li a,
    .zo2-megamenu .dropdown-menu .mega-nav > li a {
      padding: 5px 20px;
    }
    .zo2-feature {
      margin-bottom: 30px;
    }
    #news .mod-news img {
      float: none;
    }
    #top-search form {
      padding: 0 15px;
      text-align: center;
      border: none;
      float: none;
    }
    .social a {
      height: 35px;
      margin: 0 3px;
      width: 35px;
    }
    .social.header-social {
      text-align: center;
    }
    #zo2-header {
      padding: 30px 0;
    }
    .copyright {
      text-align: center;
      float: none;
    }
    .footer_zo2_logo {
      text-align: center;
      margin-top: 20px;
    }
    .footer_zo2_logo img {
      float: none;
    }
    #zo2-bottom1 .btn {
      font-size: 9px;
    }
    #zo2-bottom1 .no-line h3 {
      margin-bottom: 15px;
    }
    #zo2-bottom2 .module {
      margin-bottom: 15px;
    }
    .modal.fade {
      background: rgba(0,0,0,0.5);
    }
    .modal-backdrop.fade {
      display: none !important;
    }
    #thumb-aboutus {
      display: none;
    }
    .windy-counter .zt-count-asset {
      width: 50%;
      float: left;
    }
    .portfolio-wrap .portfolio-header-small-device {
      display: block;
    }
    .portfolio-wrap .portfolio-header-small-device h2 {
      color: #fff;
      text-align: center;
      widows: 100%;
      margin: 0px;
    }
    .portfolio-wrap .portfolio-header-small-device .portfolio-header-center-right {
      text-align: center;
      padding-top: 20px;
    }
    .portfolio-wrap .portfolio-header-small-device .portfolio-header-center-right span {
      text-transform: capitalize;
      font-size: 13px;
      color: #91a1be;
      transition: all 0.4s ease 0s;
      display: inline-block;
    }
    .portfolio-wrap .portfolio-header-small-device .portfolio-header-center-right span:hover {
      color: #fff;
    }
    .portfolio-wrap .portfolio-header-small-device .portfolio-header-center-right span.active {
      color: #fff;
    }
    .portfolio-header {
      display: none;
    }
    .about-as-article .thumb-a {
      padding: 0px;
    }
    .about-as-article .thumb-a p img {
      width: 100%;
    }
    .wrapp-media,
    .windy-news-inner {
      padding: 0;
    }
    .customcompany-history {
      padding-left: 0;
    }
  }
  @media (max-width: 320px) {
    #zo2-footer-menu {
      display: none;
    }
    #zo2-footer-menu .menu {
      text-align: center;
    }
    #zo2-footer-menu .menu li {
      width: 32% !important;
      margin-top: 0px !important;
    }
    #zo2-footer-menu .menu li a {
      padding: 2px !important;
    }
    #zo2-position-0 a.zt-button.type-stroke-to-fill {
      display: none;
    }
    .customour-partner .carousel-item {
      width: 180px !important;
    }
    .research {
      padding-left: 20px;
    }
    .tab-content,
    .news-info {
      padding-left: 20px !important;
    }
    .offcanvas {
      width: 100%;
    }
    #zt-portfolio .zt-portfolio-filter ul li a {
      font-size: 12px;
    }
    .button-quote-service {
      padding: 0px;
      margin-top: 30px;
    }
    .button-quote-service .type-stroke-to-fill {
      display: block;
      padding: 30px 0 !important;
      text-align: center;
    }
    .portfolio-previous i,
    .portfolio-next i {
      top: 7px;
    }
    .portfolio-previous h6,
    .portfolio-next h6 {
      display: none;
    }
  }
  @media (min-width: 1200px) and (max-width: 1499px) {
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title {
      margin: 0px auto !important;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .slide-title h3 {
      margin: 0px;
    }
    #zo2-slide .tp-mask-wrap .tp-caption .button-link .button-purchase {
      margin-left: 25%;
    }
  }
  #zo2-first-suffix-wrap,
  #zo2-second-suffix-wrap,
  #zo2-third-suffix-wrap {
    background-color: #f7f7f7;
    padding: 50px 0px 0px 0px;
  }